body{
    font-family: 'Poppins', sans-serif;
    background-color: cadetblue;
    font-size: 9px;
}
.wrapper{
    /* base width - 1720 x - 0.7*/
    width: 1200px;
    min-height: 40px;
    margin: 0 auto;
}

body>div:nth-child(2n){
    background-color: dimgrey;
}

/*Section 3*/
.section3{
    background-color: #EBD96B;
}
.section3 img{
    height: 45px;
}
.section3 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 38px 38px;
}
.section3 li{
    display: block;
}


@media (min-width:900px) and (max-width:1200px) {
    body{
        background-color: salmon;
    }
    .wrapper{
        width: 900px;
    }
}
@media (max-width:900px) {
    body{
        background-color: yellow;
    }
    .wrapper{
        width: 450px;
    }
    .section3 img{
        height: 25px;
    }
}
